.input:focus {
   border: 1px solid #616161FF;
}

.input {
    border-radius: 5px;
    min-width: 372px;
    min-height: 36px;
    border: 1px solid rgba( 209, 209, 209, 1);
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    border: 1px solid rgba( 209, 209, 209, 1);
}

.errorInput {
    border: 1px solid rgb(255, 0, 0);
}

.errorInput:focus {
    border: 1px solid rgb(255, 0, 0);
}

.error {
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
